# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
