# Git path attributes configuration file
#
# References:
#
# * Git - Git Attributes
#   https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes
# * Git - gitattributes Documentation
#   https://www.git-scm.com/docs/gitattributes
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0

# Avoid exporting development files to release archive
/.* export-ignore
/continuous-integration export-ignore
/docker-compose.yaml export-ignore

# Keep editorconfig for ease of editing of product files
/.editorconfig -export-ignore

# Exclude development assets exclusive licenses
/LICENSES/CC-BY-SA-* export-ignore
